{
  "printWidth": 80,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "importOrder": ["^@core/(.*)$", "^@modules/(.*)$", "^@/(.*)$", "^[./]"],
        "importOrderSeparation": true,
        "importOrderSorts": {
          "@core": 1,
          "@modules": 2,
          "@": 3,
          "node": 4,
          "all": 5
        }
      }
    }
  ]
}